<!-- @user instance variable has obviously been created in users_controller.rb, in its  'show' method. -->
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<p style="font-weight: bold">Welcome, <%= @user.name %>!</p> 
<p style="float: right;">The time is : <%= Time.now %></p>
<p>Your email ID is : <%= @user.email %></p>
<p> The user had been created at: <%=  @user.created_at %></p>
<p> The user had been updated at: <%=  @user.updated_at %></p>